:root{
    --primary-color: #FFEBBD;
    --black: #291F1F;
    --sub: #fff2d4;
}

@font-face {
    font-family: 'pixefy';
    src: url(../font/PixelifySans-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'pixefy';
}

body {
    background-image: url('../img/bg-one.png');
    backdrop-filter: blur(15px);
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
    min-height: 100vh;

}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); 
    z-index: -1;
}

.lvl-container{
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hidden{
    display: none;
}

.card-content{
    display: flex;
    gap: 15px;
}

.level-content{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.level-img{
    width: 500px;
    height: auto;
    max-width: 100%;
}

.content-holder{
    position: relative;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-holder {
    display: block;
    width: 100%;
}

.holder-content{
    position: absolute;
    color: var(--primary-color);
    font-size: 1.1rem;
    z-index: 1;
    text-align: center;
}

.level-description p{
    width: 80%;
    line-height: 2;
}

.level-menu{
    display: flex;
    gap: 15px;
    margin-top: 25px;
}

.menu-actions{
    transition:  0.1s ease-out;
    cursor: pointer;
}

.menu-actions:hover {
    transform: translateY(-10px);
}



@media (max-width: 400px) {
    .card-content{
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }

    .level-img{
        width: 200px;
    }

    .level-title{
        margin: auto;
    }

    .level-title img{
        width: 75%;
        height: auto;
    }

    .level-title p{
        font-size: 1rem;
    }

    .level-description img{
        width: 90%;
    }

    .level-description p {
        max-width: 70vw;
        font-size: 0.7rem;
    }

    .level-menu{
        margin-top: 5px;
        gap: 5px;
        align-items: center;
        padding: 20px;
    }

    .text-holder{
        width: 200px;
        height: auto;
    }

    .back-icon{
        width: 58px;
    }

    .start-btn{
        font-size: 1rem;
    }
}

@media (max-width: 768px) {
    .card-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .level-img {
        max-width: 300px;
    }

    .level-description p {
        max-width: 80vw;
    }
}